.main-login{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background: linear-gradient(to right, rgb(223, 221, 221) 50%, #4dd6b6 50%);
}

.login-contain{
    height: 75vh;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(236,236,236,0.7), rgba(236,236,236,0.4));
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side, .right-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    height: 80%;
    width: 100%;
}

.left-side{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}


 input{
    display: block;
    border: none;
    height: 2rem;
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    font-size: small;
    color: grey;
} 

input:focus{
    outline: none;
    border: none;
}

input:hover{
    outline: 0.5px solid;
    box-shadow: 2px 2px 9px -1px grey;
}

label{
    display: block;
    text-align: left;
    width: 78%;
    margin: auto;
    font-size: small;
    color: grey;
    margin-bottom: 0.5rem;
}

#sub_btn{
    width: 80%;
    background: #4dd6b6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1.2rem 1rem;
    transition: all 0.3 ease;
    margin-bottom: 1.3rem;
}

#sub_btn:hover{
    box-shadow: 0.5px 0.5px 6px -1px black;
}

.img-class{
    height: 4rem;
}

#img-id{
    height: 100%;
    object-fit: cover;

}

.welcomeNote{
    margin-top: 1.3rem;
    margin-left: 1rem;
    color: black;
    float: left;
    margin-bottom: 2.5rem;
}

.welcomeImg{
    margin-top: 2.5rem;
    height: 100%;
    width: 70%;
    margin: 0rem auto;
    
}

#wel-img-id{
    width: 100%;
    object-fit: cover;
    border-radius: 18%;
}

.welcomeH3{
    margin-left: 1rem;
    color: black;
    float: left;
}